<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/Bienvenido"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/Juegos">Menú</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/PeliculaLista">Pelicula Listado</a>
                    <a class="dropdown-item" routerLink="/Busqueda">Busqueda</a>
                    <a class="dropdown-item" routerLink="/PeliculaAlta">Alta Peli</a>
                    <a class="dropdown-item" routerLink="/Productos">Productos</a>
                    <a class="dropdown-item" routerLink="/BusquedaProducto">Busqueda-Productos</a>


                    <!-- <a class="dropdown-item" routerLink="/Juegos/Simon">Simón dice</a>
                    <a class="dropdown-item" routerLink="/Juegos/Anagrama">Anagrama</a>
                    <a class="dropdown-item" routerLink="/Juegos/Tateti">TaTeTi</a>
                    <a class="dropdown-item" routerLink="/Juegos/MemoTest">Memo-Test</a> -->

                    <!-- <div class="dropdown-divider"></div> 
                    <a class="dropdown-item" href="#">Agilidad + listado</a>
                    <a class="dropdown-item" href="#">Adivina + listado</a> -->
                </div>
            </li>
            
            <li class="nav-item iconos-collapse">
                <a class="nav-link" href="javascript: history.go(-1)" tabindex="-1" aria-disabled="true" title="Atrás"
                    (click)="logOut()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
            <li class="nav-item iconos-collapse">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fa fa-cog"></i>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <button class="btn btn-dark my-2 my-sm-0"  title="Atrás" (click)="logOut()" onclick="this.blur();">
                <i class="fa fa-sign-out"></i>
            </button> -->
            <a style="color: aliceblue;" class="nav-link" href="javascript: history.go(-1)" tabindex="-1" aria-disabled="true" title="Atrás"
            (click)="logOut()">
            <i class="fa fa-sign-out"></i>
        </a>
        </form>
    </div>
</nav>
