<div class="table-responsive-sm">
  <table class="table table-hover table-bordered ld ld-rush-ltr-in">
      <thead>
        <tr  class="bg-primary" style="color: white;">
          <th>Nombre</th>
          <th >tipo</th>
          <th >Fecha de Estreno</th>
          <th >Público</th>
          <th>Actor</th>
          <th >foto</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let pelis of listado; let i = index" (click)="seleccionarPelicula(pelis, i)">
          <td>{{pelis.nombre}} </td>
          <td>{{pelis.tipo}} </td>
          <td>{{pelis.fecha}} </td>
          <td>{{pelis.publico}} </td>
          <td>{{pelis.actor.nombre}} </td>
          <td> <img [src]="pelis.foto" alt="" width="100" height="100"></td>
        </tr>     
      
      </tbody>
    </table>

</div>
