table{
    margin-top: 5rem;
    -webkit-box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75);
    text-align: center;
}
@media screen and (max-width: 800px)
{
   table{
       width: auto;
       height: auto;
   }
   .container{
       justify-content: left;
   }
}