<table class="table table-hover table-bordered animated fadeIn faster ld ld-slide-ttb-in">
    <thead>
      <tr class="bg-primary" style="color: white;">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Nacimiento</th>
        <th>sexo</th>
        <th>foto</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let actor of listado; let i = index" (click)="seleccionarActor(actor)">
        <td>{{actor.nombre}} </td>
        <td>{{actor.apellido}} </td>
        <td>{{actor.fecha_nacimiento}} </td>
        <td>{{actor.sexo}} </td>
        <td> <img [src]="actor.foto" alt="" width="100" height="100"></td>
      </tr>     
    
    </tbody>
  </table>
