table{
    /*margin-top: 5rem;*/
    border-radius: 2rem;
    /* -webkit-box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 47px -10px rgba(0,0,0,0.75); */
    
}
.div1{
     overflow:auto;
     height:25rem;
     
}
@media screen and (max-width: 800px)
{
   table{
       width: 20rem;
       height: 20rem;
   }
   .container{
       justify-content: left;
   }
}
@media screen and (max-width: 430px)
{
   table{
       width: 10rem;
       height: 10rem;
   }
   
}