<div class="div1">
  <table  class="table table-hover table-bordered animated fadeIn faster ld ld-slide-ttb-in">
      <thead>
        <!-- <tr class="bg-primary" style="color: white;">
          <th>Nombre</th>
          <th>Bandera</th>
        </tr> -->
      </thead>
      <tbody >
        <tr *ngFor="let pais of listado | filtro: filtro; let i = index" (click)="seleccionarPais(pais)">
          <!-- <td>{{pais.nombre}} </td>
          <td> <img [src]="pais.foto" alt="" width="100" height="100"></td> -->
          <td>{{pais.name}} </td>
          <td> <img [src]="pais.flag" alt="" width="100" height="100"></td>
        </tr>     
      </tbody>
    </table>
</div>
